{% extends 'checklist/base.html' %}
{% block title %}

{% endblock %}
{% block body %}


<div class="page__bd page__bd_spacing" style='padding-left:10px;padding-right:10px'>

  <div class="weui-flex__item">
            <div class="weui-tab">
                    <div class="weui-navbar">
                    <div class="weui-navbar__item">
                        {{equipment.template.title}}
                    </div>
                   </div>

            </div>
                </div> 
    <div style='padding-top:60px;'><div>



    <div class="weui-flex">
            <div><div class="placeholder">设备名称:&nbsp; &nbsp;</div></div>
            <div class="weui-flex__item"><div class="placeholder"> {{equipment}}</div></div>
    </div>
    <div class="weui-flex">
            <div><div class="placeholder">使用班组:&nbsp; &nbsp;</div></div>
            <div class="weui-flex__item"><div class="placeholder">{{equipment.team}}</div></div>
    </div>

    <div class="weui-flex">
            <div><div class="placeholder">记录日期:&nbsp; &nbsp;</div></div>
            <div class="weui-flex__item"><div class="placeholder"></div>{{datetime|date:"Y-m-d" }}</div>
    </div>

    {% if user.name %}
    <div class="weui-flex">
            <div><div class="placeholder">记录人员:&nbsp; &nbsp;</div></div>
            <div class="weui-flex__item"><div class="placeholder">{{user.name}}</div></div>
    </div>
     {% endif %}

</div>
<form  method="post" enctype="multipart/form-data">
        {% csrf_token %}

<div class="weui-cells__title">检查保养内容</div>
{% for cp in cps %}
{% ifequal cp.style 1 %}
        <div class="weui-cell">
                <div class="weui-cell__bd">
                    <a>{{forloop.counter}}. {{ cp.title }}</a>
                </div>
                 <div class="weui-cell__ft">
                    <label for="{{cp.title}}" class="weui-switch-cp">
                        <input id="{{cp.title}}"  name="{{cp.title}}" class="weui-switch-cp__input" type="checkbox">
                        <div class="weui-switch-cp__box"></div>
                    </label>
                </div>
        </div>
{% endifequal %}
{% ifequal cp.style 4 %}
        <div class="weui-cell">
        <div class ="weui-cell__title">{{forloop.counter}}. {{ cp.title }}:&nbsp; </div>
                <div class="weui-cell__bd">
                    <input name="{{cp.title}}" class="weui-input" type="text" placeholder="" />
                </div>
        </div>
{% endifequal %}

{% ifequal cp.style 3 %}
        <div class="weui-cell">
                <div class="weui-cell__bd">
                    <a>{{forloop.counter}}. {{ cp.title }}</a>
                </div>
                 <div class="weui-cell__ft">
                    <input name="{{cp.title}}" class="weui-input" type="number" placeholder="" />
                </div>
        </div>
{% endifequal %}

{% ifequal cp.style 2 %}
        
<div class="weui-cells weui-cells_radio">
<div class="weui-cell">
                <div class="weui-cell__bd">
                    <a>{{forloop.counter}}. {{ cp.title }}</a>
                </div>
        </div>

            <label class="weui-cell weui-check__label" for="x11">
                <div class="weui-cell__bd">
                    <p> --  cell standard</p>
                </div>
                <div class="weui-cell__ft">
                    <input class="weui-check" name="radio1" id="x11" data-com.agilebits.onepassword.user-edited="yes" type="radio">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="x12">

                <div class="weui-cell__bd">
                    <p> --  cell standard</p>
                </div>
                <div class="weui-cell__ft">
                    <input name="radio1" class="weui-check" id="x12" checked="checked" data-com.agilebits.onepassword.user-edited="yes" type="radio">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
        </div>
{% endifequal %}

{% endfor %}
<div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="备注" rows="2" name="remark"></textarea>
            </div>
        </div>

<div class="weui-btn-area" style="padding-top:20px">
         <input type="submit" value="提交" class="weui-btn weui-btn_primary">        
</div>
</form>




<!-- 保养记录 -->

<br />

        <center>
            <h3>
            <div>记录</div>
            </h3>
        </center>
        {% if equipment.records %}
        <div class="weui-cells__title"> 共 {{records.count}} 条记录</div>
                                <div class="weui-cells page__category-content">
            {% for record in records %}
            <div class="weui-cell weui-cell_access js_item" onclick="window.open('/tl/post/{{lfb.id}}/','mywindow');" style="cursor: pointer;">
                <div class="weui-cell__bd">
                <p>{{record }}</p>
                </div>
                <div class="weui-cell__ft">{{record}}</div>
            </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}

{% endblock %}
{% block company %}
{{ equipment.template.company.name }}
{% endblock %}
